---
---

@import "{{ site.theme }}";
#header_wrap {
  background: #e91d63;
  background: -moz-linear-gradient(top, #f44280, #e91d63);
  background: -webkit-linear-gradient(top, #f44280, #e91d63);
  background: -ms-linear-gradient(top, #f44280, #e91d63);
  background: -o-linear-gradient(top, #f44280, #e91d63);
  background: linear-gradient(top, #f44280, #e91d631);
}
h1, h2, h3, h4, h5, h6 {
  color:#e91d63;
}
body {
  background: #e91d63;
}
/*th {
  background: #f44280; //373737 replaced
  color: #fff;
 }

table {
  border: 1px solid #f44280;
 }

th {
  background: #f44280;
 }

td {
  border: 1px solid #f44280;
 }*/
